---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="main">
    <div class="planet sun" id="planet">
        <div class="circle-sun"></div>
        <div class="name-sun">Sun</div>
        <div class="info-sun">Type G2V</div>
    </div>
    <div class="planet mercury">
        <div class="circle mercury"></div>
        <div class="name mercury">Mercury</div>
        <div class="info">0.4 AU</div>
    </div>
    <div class="planet venus">
        <div class="circle venus"></div>
        <div class="name">Venus</div>
        <div class="info">0.72 AU</div>
    </div>
    <div class="planet earth">
        <div class="circle earth"></div>
        <div class="name">Earth</div>
        <div class="info">1 AU</div>
    </div>
    <div class="planet mars">
        <div class="circle mars"></div>
        <div class="name mars">Mars</div>
        <div class="info">1.52 AU</div>
        </div>
    <div class="planet jupiter">
        <div class="circle jupiter"></div>
        <div class="name jupiter">Jupiter</div>
        <div class="info">5.2 AU</div>
    </div>
    <div class="planet saturn">
        <div class="circle saturn"></div>
        <div class="name saturn">Saturn</div>
        <div class="info">9.5 AU</div>
    </div>
    <div class="planet uranus">
        <div class="circle uranus"></div>
        <div class="name">Uranus</div>
        <div class="info">19.8 AU</div>
    </div>
    <div class="planet neptune">
        <div class="circle neptune"></div>
        <div class="name">Neptune</div>
        <div class="info">30 AU</div>
    </div>
</div>