:root {
    --main-color: #1D2034;
    --text-color: #D8DAE9;
    --card-color: #BEC1DA;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    background: var(--main-color);
    padding: 0 40px;
}

h1 {
    font-size: 60px;
    padding-top: 40px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 30px;
}

.planet {
    color: var(--main-color);
    background: var(--card-color);
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.planet:hover {
    opacity: 50%;
}

.planet.sun {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 60px;
}

.circle-sun {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background: var(--text-color);
    margin: auto;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: var(--text-color);
    margin: auto;
}

.name-sun {
    padding-top: 50px;
}

.name {
    padding-top: 30px;
}

.info-sun {
    padding-top: 20px;
    font-size: 30px;
    font-weight: normal;
}

.info {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
}