:root {
    --main-color: #1D2034;
    --text-color: #D8DAE9;
    --card-color: #BEC1DA;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    background: var(--main-color);
    padding: 0 40px;
}

h1 {
    font-size: 60px;
    padding-top: 40px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 30px;
}

.planet {
    color: var(--main-color);
    background: var(--card-color);
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.planet:hover {
    opacity: 50%;
}

.planet.sun {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 60px;
}

.circle-sun {
    height: 320px;
    width: 320px;
    border-style: solid;
    border-color: #FACE75;
    box-shadow: 0 0 30px #F8B93A;
    border-radius: 50%;
    background: radial-gradient(#FFC857, #FFC71F);
    margin: auto;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: var(--text-color);
    margin: auto;
}

.name-sun {
    padding-top: 50px;
}

.name {
    padding-top: 30px;
}

.info-sun {
    padding-top: 20px;
    font-size: 30px;
    font-weight: normal;
}

.info {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

.circle.mercury {
    height: 90px;
    width: 90px;
    background: radial-gradient(#D9CAB3, #8C7A6B);
}

.planet.mercury {
    padding-top: 65px;
}

.name.mercury {
    padding-top: 45px;
}

.circle.venus {
    background: radial-gradient(#C99669, #895737);
}

.circle.earth {
    background: radial-gradient(#216697, #14591D);
}

.circle.mars {
    height: 100px;
    width: 100px;
    background: radial-gradient(#99371E, #551E11);
}

.planet.mars {
    padding-top: 60px; 
}

.name.mars {
    padding-top: 40px;
}

.circle.jupiter {
    height: 170px;
    width: 170px;
    background: radial-gradient(#EFD6AC, #FF7E33);
}

.planet.jupiter {
    padding-top: 15px;
}

.name.jupiter {
    padding-top: 15px;
}

.circle.saturn {
    height: 140px;
    width: 140px;
    background: radial-gradient(#C89E56, #9C6615);
}

.planet.saturn {
    padding-top: 40px;
}

.name.saturn {
    padding-top: 20px;
}

.circle.uranus {
    background: radial-gradient(#7BDEF4, #60ACE6);
}

.circle.neptune {
    background: radial-gradient(#60ACE6, #17598C);
}